<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
   <link href="styles.css" rel="stylesheet">
</head>
<body>
   <div class="box">
      <div class="register">
         <h1>REGISTER</h1>
         <form action="/register" method="POST">
            <input type="email" name="email" placeholder="Email"><br>
            <input type="password" name="pwd" placeholder="Password"><br>
            <input type="password" name="re_pwd" placeholder="Re-enter Password"><br>
            <select name="role">
               <option disabled selected>Select Role</option>
               <option value="Student">STUDENT</option>
               <option value="Alumni">ALUMNI</option>
            </select><br>
            <button type="submit">SUBMIT</button>
         </form>
      </div>
      <div class="login">
         <h1>LOGIN</h1>
         <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email"><br>
            <input type="password" name="pwd" placeholder="Password"><br>
            <button type="submit">SUBMIT</button>
         </form>
      </div>
   </div>
</body>