@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
   font-family: "Poppins";
}
body{
   background: #FCEEB5;
}
nav a{
   font-weight: 600;
   cursor: pointer;
}

.question{
   font-weight: bold;
   font-size: 1.2rem;
}

.box{
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr 1fr;
}

.box div form{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.box div h1{
   text-align: center;
   font-weight: 600;
   font-size: 2rem;
   color: #fff;
   margin-top: 25%;
}

.box button{
   background: #aaa;
   padding: 8px 20px;
   border-radius: 25px;
}

.register{
   background: #334512;
   grid-column-start: 1;
   grid-column-end: 2;
}

.login{
   background: #23271d;
   grid-column-start: 2;
   grid-column-end: 3;
}

input{
   background: #fff;
   padding: 8px 30px 8px 8px;
   border-radius: 20px;
   color: #000;
   font-weight: 700;
}

input::placeholder{
   font-weight: 600;
   color: #555;
}

input:focus{
   border:4px solid #077;
   border-radius: 20px;
   outline: none;
}